---
layout: default
---

<a href="{{ page.url | relative_url }}/../../">
  ← Projects
</a>
<br>

</br>

<small><em>{{ page.skills | join: "</em> - <em>" }}</em></small>
<h1>{{ page.title }}</h1>
<h5>{{ page.goal }}</h5>

<hr>
<br>
{{content}}

<h3>Mentors</h3>
{% for mentor in page.mentors %}
  {{ mentor.name }} ([@{{mentor.nick}}](https://github.com/{{mentor.nick}})
  <br>
{% endfor %}

<br>
<h3>Helpful Links</h3>
<a href="http://docs.frrouting.org/projects/dev-guide/en/latest/">
  FRR dev guide
</a>
<br>
<a href="http://docs.frrouting.org/en/latest/">
  FRR user guide
</a>

<br>
<br>
{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
